<!-- extend base layout -->
{% extends "blog/base.html" %}
 
{% block content %}
<script src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>
<div class="row admin-info">
        <h2>Admin Stuff</h2>
            <dl class="tabs radius" data-tab>
                <dd class="tab-title active"><a href="#panel2-1">Add Post</a></dd>
                <dd class="tab-title"><a href="#panel2-2">Manage Posts</a></dd>
            </dl>
            <div class="tabs-content">
                <div class="content active" id="panel2-1">
                    <p>{% include "blog/admin/add_post.html" %}</p>
                </div>
                <div class="content" id="panel2-2">
                    <p>{% include "blog/admin/manage_posts.html" %}</p>
                </div>
</div>


{% endblock %}
