<div class="large-7 columns">
	<h4><strong>Add Subscriber</strong></h4>
	<div class="panel">
		<form action="" method="POST" name="add_subscriber">
			{{ADMIN_FORMS['add_subscriber'].hidden_tag()}}	
			<div class="large-10 columns">
				{% for error in ADMIN_FORMS['add_subscriber'].errors.users %}<span style="color: red;">{{error}}</span>{% endfor %}
				<div class="small-text"><em class="subheader">abc1234@rit.edu/major (One per line)</em></div>
				<label>{{ADMIN_FORMS['add_subscriber'].users(rows=4)}}</label>
			</div>
			{{ADMIN_FORMS['add_subscriber'].submit(class="button", value = 'Add Subscriber')}}
		</form>
	</div>
</div>
