<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script>
    $(function() {
        var pickerOpts = {
            dateFormat: $.datepicker.ATOM
        };
    $( "#datepicker" ).datepicker(pickerOpts);
    });
</script>
<div class="small-8 large-8 columns">
    <h4><strong>Create Challenge</strong></h4>
        <div class="panel small-12 large-12 columns">
            <form action="" method="POST" name="create_challenge">
                {{ADMIN_FORMS['create_challenge'].hidden_tag()}}
                {% for error in ADMIN_FORMS['create_challenge'].errors.name %}<span style="color: red;">{{error}}</span>{% endfor %}
                <div class="small-12 medium-8 large-8 columns">
                     <label><h7>Challenge Name:*</h7>
                        {{ADMIN_FORMS['create_challenge'].name(size = 10)}}
                    </label>
                </div>
                <div class="small-12 medium-6 large-8 columns">
                    <label><h7>Date:*</h7> {% for error in ADMIN_FORMS['create_challenge'].errors.date %}<span style="color: red;">{{error}}</span>{% endfor %}
                        {{ADMIN_FORMS['create_challenge'].date(size = 10, id="datepicker")}}
                    </label>
                </div>
                <div class="small-12 medium-6 large-12 columns">
                    <label><h7>About:</h7> {% for error in ADMIN_FORMS['create_challenge'].errors.about %}<span style="color: red;">{{error}}</span>{% endfor %}
                        {{ADMIN_FORMS['create_challenge'].about(cols = 32, rows = 4)}}
                    </label>
                </div>
                <div class="small-12 medium-6 large-12 columns">
                {{ADMIN_FORMS['create_challenge'].submit(class="button", value="Create Challenge")}}
                </div>
            </form>
        </div>
</div>
