<div class="large-14 columns">
<link rel="stylesheet" href="/static/foundation-icons/foundation-icons.css">
	<h4><strong>Send Newsletter</strong></h4>
   	<div class="panel">
		<form action="" method="POST" name="send_newsletter">
			{{ADMIN_FORMS['send_newsletter'].hidden_tag()}}
			<div class="large-12 columns">
				<label>Subject: {% for error in ADMIN_FORMS['send_newsletter'].errors.subject %}<span style="color: red;">You must put a subject</span>{% endfor %}
				{{ADMIN_FORMS['send_newsletter'].subject(cols = 6)}}</label>
			</div>
			<div class="large-12 columns">
				{% for error in ADMIN_FORMS['send_newsletter'].errors.body %}<span style="color: red;">{{error}}</span>{% endfor %}
				<label>{{ADMIN_FORMS['send_newsletter'].body(rows = 12)}}</label>
			</div>
			<div class="large-12 columns">
				<ul class="left"></ul>
				{% for media in ADMIN_FORMS['send_newsletter'].media %}
					{% if media.data in ADMIN_FORMS['send_newsletter'].default %}
						{{media(checked=True)}} 
					{% else %}
						{{media(size = 24)}}
					{% endif %}
					{% if media.data == "mail" %}
						<i class="fa newsletter fi-{{media.data}}"></i>
					{% else %}
						<i class="fa newsletter fi-social-{{media.data}}"></i>
					{% endif %}
				{% endfor %}
			</div>
			<p>{{ADMIN_FORMS['send_newsletter'].submit(class="button", value = 'Send Newsletter', disabled='disabled')}} This is disabled until the API hooks are done. Also needs a text formatter</p>
		</form>
	</div>
</div>