{% extends "irsec/base.html" %}

{% block content %}
<h1>About</h1>
<div class="row panel">
    <div class="row pad">
        <div class="small-12 columns">
            <h2>What is IRSeC?</h2>
            <p>RC3’s annual Incident Response Security Competition (IRSeC) is a student-run, defense-only competition geared towards testing students technical skills ability to work within a team environment to defend a small-scale enterprise infrastructure from outside attacks. Teams of five, known as “blue teams,” are tasked with defending core services vital to keeping a company afloat such as a web front end, mail, FTP, SSH, DNS, and core routing. While teams maintain service uptime, an opposing team, known as the “red team,” emulates real world hackers by penetrating teams defenses and disrupt their enterprise by taking down these services. While the blue teams do their best to keep the red team out, they are also challenged with completing business injects.</p>
<p>IRSeC is different from other security competitions because we not only challenge teams to keep up these core services, but we also score them based on how they react to an intrusion. This requires a different skillset where students will have to identify details about breaches and gauge the damage done in order to report their findings to upper management.</p>
<p>Because IRSeC is geared towards students early in their degree program, we place a high importance on red team/blue team interaction. While creating a fun atmosphere for competitors to test their skills, we also want students to be able to walk away with a new set of skills that they can utilize in future classes and careers.</p>
        </div>
    </div>
    <div class="row pad">
        <div class="small-12 columns">
            <h2>How can I get involved?</h2>
            <p>You can sign up to be a blue team member on the <a href="{{url_for(".signup")}}">signup page</a>. If you would like to white team for this event and help us run the competition you can sign up by emailing the executive board on the <a href="{{url_for("main.contact")}}">contact us page</a></p>
        </div>
    </div>
</div>
{% endblock %}
