{% extends "irsec/base.html" %}

{% block content %}
<h1>About</h1>
<div class="row pad">
    <div class="row panel">
        <div class="small-12 columns">
            <h2>What is IRSeC?</h2>
            <p><em>The RIT Competitive Cybersecurity Club's</em> (RC3) annual end of the year competition. It stands for <strong>Incident Response Security Competition</strong> and is focussed towards students who are interesed in cybersecurity.</p>
        </div>
        <div class="small-12 columns">
            <h2>How can I get involved?</h2>
            <p>You can sign up to be a blue team member on the <a href="{{url_for(".signup")}}">signup page</a>. If you would like to white team for this event and help us run the competition you can sign up by emailing the executive board on the <a href="{{url_for("main.contact")}}">contact us page</a></p>
        </div>
    </div>
</div>
{% endblock %}
