{% extends "irsec/base.html" %}

{% block content %}
<div class="row pad">
    <div class="row panel pad">
        <div class="small-12 columns">
            <h1>Welcome to the IRSeC homepage!</h1>
            <p>We will be posting information about IRSeC including sponsors, photos, and signups. Stay tuned for more</p>
        </div>
    </div>
</div>


<div class="row panel pad">
    <div class="small-12 medium-6 columns">
            <div class="flex-video"><iframe width="200" height="200" src="//www.youtube.com/embed/xF6zooAMwXI" frameborder="0" allowfullscreen class=""></iframe></div>
    </div>
    <div class="small-12 medium-6 columns">
        <div class="small-12 columns panel">
            <div class="small-12 columns center"><em><h3>What is IRSeC?</h3></em></div>
            <div class="small-12 columns center">
                A student run competition that is meant to aquaint beginners with cybersecurity competitions.
            </div>
        </div>
        <div class="small-12 columns left">
            <div class="small-2 columns">
                <i class="fa fa-arrow-left fa-3x"></i>
            </div>
            <div class="small-10 columns left">
                <h3 class="center">Check out last year's competition!</h3>
            </div>
        </div>
        <div class="small-12 columns panel">
            <div class="small-12 columns center"><em><h3>How is it different?</h3></em></div>
            <div class="small-12 columns center">
                More of a focus is put on finding HOW and WHY an attack happened to learn how to prevent it in the future.
            </div>
        </div>
    </div>
</div>

{% endblock %}
