{% extends "irsec/base.html" %}

{% block content %}
<h1>Signup</h1>
<p>Blue team registration for this year has been closed! Please sign up for white team :)</p>
<div class="row radius">
    <div class="row center">
        <div class="small-12 columns center">
<iframe src="https://docs.google.com/a/g.rit.edu/forms/d/1_mbSWckOzg2RyJOQsQY-2-YjJxRmz_WTVZCpH2f487E/viewform?embedded=true" width="100%" height="1500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
    </div>
</div>

{% endblock %}
