{% extends "irsec/base.html" %}

{% block content %}

<h1>Sponsors</h1>
<section>
<div class="row pad">
<div class="row panel">
    <h1 class="row radius center">Gold</h1>
    <div class="row center">
        <div class="small-6 columns"><img vspace="10" src="/static/img/company_logos/facebook.png"></div>
        <div class="small-6 columns"><img vspace="10" src="/static/img/company_logos/cigital.png"></div>
    </div>
    <div class="row center">
        <div class="small-4 columns center"><img src="/static/img/company_logos/780th.jpg">
            780th Cyber Brigade
        </div>
    </div>
</div>
</div>
</seciton>

<seciton>
<div class="row pad">
<div class="row panel">
    <h1 class="row radius center">Silver</h1>
    <div class="row center">
        <div class="small-6 columns"><img vspace="10" src="/static/img/company_logos/csec.png"></div>
        <div class="small-6 columns"><img vspace="10" src="/static/img/company_logos/indeed.png"></div>
    </div>
</div>
</div>
</seciton>

<seciton>
<div class="row pad">
<div class="row panel">
    <h1 class="row radius center">Bronze</h1>
    <div class="row center">
        <div class="small-6 columns"><img vspace="10" src="/static/img/company_logos/gccis.png"></div>
        <div class="small-6 columns"><img vspace="10" src="/static/img/company_logos/cmm.png"></div>
    </div>
</div>
</div>
</seciton>
{% endblock %}
