{% extends "irsec/base.html" %}

{% block content %}

<h1>Sponsors</h1>
<section>
<div class="row pad">
<div class="row panel">
    <h1 class="row radius center">Gold</h1>
    <div class="row center">
        <div class="small-6 columns">
            <a href="https://www.facebook.com/security" target="_blank"><img vspace="10" src="/static/img/company_logos/facebook.png"></a>
        </div>
        <div class="small-6 columns">
            <a href="http://www.cigital.com/" target="_blank"><img vspace="10" src="/static/img/company_logos/cigital.png"></a>
        </div>
    </div>
    <div class="row center">
        <div class="small-6 columns small-centered large-centered">
            <a href="http://www.parsons.com/" target="_blank">
                <img vspace="10" src="/static/img/company_logos/parsons.png">
            </a>
        </div>
    <div class="row">
        <div class="small-3 columns small-centered large-centered">
            <a href="http://www.cyberspaceskills.com/" target="_blank">
                <img vspace="10" src="/static/img/company_logos/780th.jpg">
            </a>
            780th Cyber Brigade
        </div>
    </div>
</div>
</div>
</seciton>

<seciton>
<div class="row pad">
<div class="row panel">
    <h1 class="row radius center">Silver</h1>
    <div class="row center">
        <div class="small-6 columns">
            <a href="https://www.rit.edu/gccis/computingsecurity/" target="_blank"><img vspace="10" src="/static/img/company_logos/csec.png"></a>
        </div>
        <div class="small-6 columns">
            <a href="http://blog.indeed.com/" target="_blank"><img vspace="10" src="/static/img/company_logos/indeed.png"></a>
        </div>
    </div>
</div>
</div>
</seciton>

<seciton>
<div class="row pad">
<div class="row panel">
    <h1 class="row radius center">Bronze</h1>
    <div class="row center">
        <div class="small-6 columns">
            <a href="https://www.rit.edu/gccis/" target="_blank"><img vspace="10" src="/static/img/company_logos/gccis.png"></a>
        </div>
        <div class="small-6 columns">
            <a href="https://www.scriptscribe.org/" target="_blank"><img vspace="10" src="/static/img/company_logos/cmm.png"></a>
        </div>
    </div>
</div>
</div>
</seciton>
{% endblock %}
