{% extends "irsec/base.html" %}

{% block content %}

<h1>Sponsors</h1>
<section>
<div class="row pad">
<div class="row panel">
    <h1 class="row radius center">Gold</h1>
    <div class="row center">
        <div class="small-6 columns">
            <a href="https://www.facebook.com/security"><img vspace="10" src="/static/img/company_logos/facebook.png"></a>
        </div>
        <div class="small-6 columns">
            <a href="http://www.cigital.com/"> <img vspace="10" src="/static/img/company_logos/cigital.png"></a>
        </div>
    </div>
    <div class="row center">
        <div class="small-4 columns large-centered small-centered">
            <a href="http://www.cyberspaceskills.com/">
                <img src="/static/img/company_logos/780th.jpg">
            </a>
            780th Cyber Brigade
        </div>
    </div>
</div>
</div>
</seciton>

<seciton>
<div class="row pad">
<div class="row panel">
    <h1 class="row radius center">Silver</h1>
    <div class="row center">
        <div class="small-6 columns">
            <a href="https://www.rit.edu/gccis/computingsecurity/"><img vspace="10" src="/static/img/company_logos/csec.png"></a>
        </div>
        <div class="small-6 columns">
            <a href="http://blog.indeed.com/"><img vspace="10" src="/static/img/company_logos/indeed.png"></a>
        </div>
    </div>
</div>
</div>
</seciton>

<seciton>
<div class="row pad">
<div class="row panel">
    <h1 class="row radius center">Bronze</h1>
    <div class="row center">
        <div class="small-6 columns">
            <a href="https://www.rit.edu/gccis/"><img vspace="10" src="/static/img/company_logos/gccis.png"></a>
        </div>
        <div class="small-6 columns">
            <a href="https://www.scriptscribe.org/"><img vspace="10" src="/static/img/company_logos/cmm.png"></a>
        </div>
    </div>
</div>
</div>
</seciton>
{% endblock %}
