{% extends "base.html" %}
 
{% block content %}
<div class="row">
 <div class="small-8 columns left">

            <h3>About RC3</h3>
            
            <div class="panel">
            <a href="#" class="th bot-marg"><img src="/static/img/rc3.jpg" width="1000" alt=""></a>
            
            <p>RIT Competitive Cybersecurity Club (RC3) is a student-run organization dedicated to educating and preparing RIT students to compete in security-related competitions, as well showcase RIT student talent in the world of security today. Whether you're new to competitive cybersecurity or a veteran, RC3 has a place for you.</p>

            <p>RC3 centers around live individual and team-based security exercises covering a wide variety of areas in computing security, including penetration testing, windows and linux server hardening, web security, network services, and more. Throughout the semester students engage in security challenges to test their skills and knowledge.</p>
            
            <p>We spend the first thirty minutes discussing news and current events in the security industry, and then present on a topic for 30-40 minutes. After the presentation we spend about
            an hour doing a hands on demo with a competitive element. We encourage you to ask questions and you're welcome to go at your own pace.</p>

            <p>Regularly scheduled meetings are held Fridays at 12 pm in 70-2410, the security lab.</p>
            </div>
 </div>
 <div class="small-4 columns right">
    <h3>RC3 TLDR</h3>
     <div class="row panel">
        <div class="small-6 columns">
            <h4>Who</h4>
        </div>
        <div class="small-10 columns panel">
            We're open to all majors. 
        </div>
        <div class="small-6 columns">
            <h4>What</h4>
        </div>
        <div class="small-10 columns panel">
            Hands on computer security.
        </div>
        <div class="small-6 columns">
            <h4>When</h4>
        </div>
        <div class="small-10 columns panel left">
            Every Friday 12-2.
        </div>
        <div class="small-6 columns">
            <h4>Where</h4>
        </div>
        <div class="small-10 columns panel">
            GOL(70)-2410
        </div>
        <div class="small-6 columns">
            <h4>Why</h4>
        </div>
        <idv class="small-10 columns panel left">
            Breaking stuff is fun.
        </div>
    </div>
 </div>
<div class="small-6 columns">
    <h3>RC3 eBoard</h3>
     <div class="row panel">
        <div class="row">
            <div class="small-5 columns">
                <h4>President</h4>
            </div>
            <div class="small-5 columns panel left">
                Jon Barber
            </div>
        </div>
        <div class="row">
            <div class="small-5 columns">
                <h4>Vice President</h4>
            </div>
            <div class="small-5 columns panel left">
                Jaime Geiger
            </div>
        </div>
        <div class="row">
            <div class="small-5 columns">
                <h4>Tech Lead</h4>
            </div>
            <div class="small-5 columns panel left">
                Nick Piazza
            </div>
        </div>
        <div class="row">
            <div class="small-5 columns">
                <h4>Treasurer</h4>
            </div>
            <div class="small-5 columns panel left">
                Scott Vincent
            </div>
        </div>
        <div class="row">
            <div class="small-5 columns">
                <h4>Secretary</h4>
            </div>
            <div class="small-5 columns panel left">
                Sean McConnell
            </div>
        </div>
    </div>
 </div>
 </div>
{% endblock %}