<div class="small-12">

    <table>

        <tbody>
            {% if users %}
            {% for user in users %}
                <tr valign="center">
                    <td><a href="{{ url_for('user', username = user.username )}}"><img src="{{user.avatar(30)}}"></a></td>
                    <td><a href="{{ url_for('user', username = user.username )}}">{{user.nickname}}</a></td>
                    {% if challenge %}
                        <td>{{user.get_score(challenge=challenge, semester=challenge.semester)}}</td>
                    {% elif semester %}
                        <td>{{user.get_score(semester=semester)}}</td>
                    {% else %}
                        <td>{{user.get_score()}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>

    </table>

</div>
