{% extends "base.html" %}
{% block content %}

<head>
    <style>
        h10 { color:black; font-size:200%; }
        t { color:blue; font-size:175%; }
        d { color:gray; font-size:100%;}
        desc { color:black; font-size:125% } 
    </style>
</head>





<div class="row">
<div class="small-15 columns left">
    <h3>News</h3>
    <p>In this section we will frequestnly post news artibles relevent to security.</p>
    <div class="panel">
        <table>
            <td>
                <table>
                    <td><h10>1</td></h10>
                        <td><pre><t>TITLE</t>
<d>DATE</d>
<desc>DESC</desc></td>
                </table>
             </td>
    </div>
 </div>
 </div>
{% endblock %}
