{% extends "base.html" %}
{% block content %}

<h3><strong>News</strong></h3>

<div class="small-12 columns">
    {% if articles %}
    {% for art in articles %}
        <div class="row panel">
            <div class="small-1 medium-1 columns"><h2>{{art.id}}</h2></div>
            <div class="small-11 medium-11 columns">
                <a href="{{art.link}}">{{art.title}}</a>
                <p>{{art.date}}</p>
                <pre>{{art.description}}</pre>
            </div>
        </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
