{% extends "base.html" %}
{% block content %}

<head>
    <style>
        h10 { color:black; font-size:200%; }
        t { color:blue; font-size:175%; }
        d { color:gray; font-size:100%;}
        desc { color:black; font-size:125% } 
    </style>
</head>





<div class="row">
<div class="small-15 columns left">
    <h3>News</h3>
    <p>In this section we will frequestnly post news artibles relevent to security.</p>
    {% if articles %}
    {% for art in articles %}
        <div class="panel">
            <table>
                <td>
                    <table>
                        <td><h10>{{art.id}}</td></h10>
                        <td><t><a href="{{art.link}}">{{art.title}}</a></t><pre>
<d>{{art.date}}</d>
<desc>{{art.description}}</desc></td>
                    </table>
                </td>
            </table>
        </div>
</div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
