{% extends "base.html" %}
{% block content %}

<h2 class="text-center">{{semester.name}} Resources</h2>

{% if not pres_list %}
<h4 class="text-center">Nothing here yet. Check back soon!</h4>
{% endif %}

{% if pres_list %}
{% for pres in pres_list %}

    <h2> <strong>Week {{pres.week}}</strong> - {{pres.name}}</h2>

    <iframe src="{{pres.link}}" frameborder="1" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

    </br>
    </br>

{% endfor %}
{% endif %}

{% endblock %}
