<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}

<h2> <strong>Week 1</strong> - Intro to RC3 and Linux</h2>

<iframe src="https://docs.google.com/a/g.rit.edu/presentation/d/12O8OSsm09b_pEoVxQ_75USgH1iC7DwrR9kvIcu5Idwc/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<h2> <strong>Week 1</strong> - Password Hash Cracking</h2>

<iframe src="https://docs.google.com/a/g.rit.edu/presentation/d/1oM2gs8YOGCI2kbzcSZBfRE4vJ5ClW8Q0BaEaM_gSXzY/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<h2> <strong>Week 2</strong> - Scanning and Enumeration</h2>

<iframe src="https://docs.google.com/a/g.rit.edu/presentation/d/1ypVWAE6mvW8w3ls5Oc-MHaW9I4KI99VPsocO1PvcuHs/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<h2> <strong>Week 3</strong> - SQL Injection</h2>

<iframe src="https://docs.google.com/a/g.rit.edu/presentation/d/1EjP42FIItU2cEv-8Z_QPUMCGKIIp8bb4nEw3OYGxbPo/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<h2> <strong>Week 4</strong> - XSS</h2>

<iframe src="https://docs.google.com/a/g.rit.edu/presentation/d/1FrKnKKTZGpq8tuXTxP3ThUHvUYYide-qVTZj3W6V_q0/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<h2> <strong>Week 5</strong> - Web Pentesting Tools</h2>

<iframe src="https://docs.google.com/a/g.rit.edu/presentation/d/1v1yC9xXG_M7-R_eXot-mntCQ4bkOfUtl-8uV5jXcMUE/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<h2> <strong>Week 5</strong> - BeEF </h2>

<iframe src="https://docs.google.com/a/g.rit.edu/presentation/d/1A9AnElZr2eYq0MWInoNJhJUzcfUOztyyVOnSbvOCjuQ/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<h2> <strong>Week 6</strong> - Linux Defense Tactics </h2>

<iframe src="https://docs.google.com/a/g.rit.edu/presentation/d/1K8r5MB9TJ3UCkSWkb7DQN5QPosSDRN8ABYi7iqv9dQQ/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<h2> <strong>Week 7</strong> - Reverse Engineering </h2>

<iframe src="https://docs.google.com/a/g.rit.edu/presentation/d/19IlFwIYHD1T0ZC7PBlutl9dhfq36EKSG0jej7o-zDT8/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<h2> <strong>Week 8</strong> - IPTables </h2>

<iframe src="https://docs.google.com/a/g.rit.edu/presentation/d/1Gu1kJzCqO2-1N45HFdnGzG2EWteBHQc0JvXCCwQeIV4/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<h2> <strong>Week 9</strong> Linux Offense </h2>

<iframe src="https://docs.google.com/a/g.rit.edu/presentation/d/1JdQAUOa7rewR6peGK2TGTWa8_ItO_ZaX_-hCj4QHVt8/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<h2> <strong>Week 10</strong> Making Linux Vulnerable </h2>

<iframe src="https://docs.google.com/a/g.rit.edu/presentation/d/1XF94chv5B4huIr3aj2bDqyN_qY9nsTo-wBF5x19t9LI/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<h2> <strong>Week 11</strong> Windows Hardening </h2>

<iframe src="https://docs.google.com/a/g.rit.edu/presentation/d/1p4N4LqZov-rZG0Qo7oQgsUzLrAcrvmTOLAt9mylT_qg/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<h2> <strong>Week 12</strong> Metadata </h2>

<iframe src="https://docs.google.com/a/g.rit.edu/presentation/d/1HSWflZGdzUQ5HKJNyOt4Tgy7WGBW5sJcrWcPvyMeMuQ/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<h2> <strong>Week 12</strong> Forensics </h2>

<iframe src="https://docs.google.com/a/g.rit.edu/presentation/d/1RjCJEfDNBkhPeCC_1OWjOnm_DwAShxu_D16idrNxL1I/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<h2> <strong>Week 13</strong> Metasploit </h2>

<iframe src="https://docs.google.com/a/g.rit.edu/presentation/d/1AxFGhJMf2QqCqSySvs5KPNc6yxGOOQ_2uMQVXLDgIuw/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

{% endblock %}
